.rtgm-list-output {
  > ul {
    list-style:none;
    margin:0;
    max-height:224px;
    padding:0;
    overflow-y:auto;

    > .selected {
      background-color:#ffc;
    }

    > .rtgm-list-item {
      border-bottom:1px solid #eee;
      clear:left;
      margin:0;
      padding:8px;

      > .rtgm-title {
        display:block;
        float:left;
      }

      > .rtgm-list-download {
        display:block;
        float:right;
        font-size:0.8em;
      }

      > .rtgm-summary {
        clear:both;
        display:block;
        margin:0;
        padding:0;

        > dt, > dd {
          color:#666;
          display:block;
          float:left;
          font-size:.8em;
          font-style:italic;
        }

        > dt {
          font-weight:bold;

          &:after {
            content:':';
          }
        }

        > dd {
          margin:0 16px 0 4px;
        }

        &:after {
          clear:left;
          content:' ';
          display:block;
        }
      }
    }
  }
}
