.rtgm-graph-output {
  .graph {
    height:275px;
    margin-top:16px;
    width:95%;
  }

  .dygraph-xlabel, .dygraph-title {
    // Must manually sync this with dygraph.options.yAxisLabelWidth
    text-indent: 100px;
  }

  .dygraph-axis-label-x {
    text-indent:-25%;
  }

  // dygraph doesn't support moving legend, sucky to use !important, but what
  // are the alternatives?
  .dygraph-legend {
    background-color:transparent !important;
    bottom:115px !important;
    left:130px !important;
    top:auto !important;
    width:300px !important;
  }
}

@media screen and (max-width:480px) {
  .dygraph-legend {
    display:none !important;
  }
}

@media print {
  .rtgm-graph-output .page-break {
    page-break-before: always;
  }
}
