.datatype {
	font-style:italic;
	color:#666;
	font-size:0.9em;
}
.examples > li {
	margin-bottom:8px;
}
.definitions > dt {
	margin-top:8px;
}
.examplelink {
	display:block;
	max-width:100%;
	overflow-x:auto;
}
