@import 'compass/css3';
@import '/hazdev-webutils/src/mvc/ModalView.css';

@import 'RTGMInputView';
@import 'RTGMListOutput';
@import 'RTGMGraphOutput';

@media print {
	.intro {display: none;}
	.rtgm-input-view {display:none;}
	.rtgm-list-output li {display:none;}
	.rtgm-list-output .selected {display:block;}
}

.rtgm-input-view {
	float:left;
	width:50%;
	padding-right:16px;
	margin-bottom:16px;
}
.rtgm-list-output {
	float:left;
	width:50%;
}
.rtgm-graph-output {
	clear:left;
	width:100%;
	margin-top:16px;
}
