.rtgm-input-view {
	label {
		font-weight:bold;
		display:block;
		color:#333;
	}
	input.rtgm-input-title, input.rtgm-input-afe {
		width:100%;
		margin-bottom:16px;
	}
	input.rtgm-input-sa {
		width:100%;
		margin-bottom:5px;
	}
	input.rtgm-input-xun{
	    width:3%;
	    margin-bottom:16px;

	}
	input.rtgm-input-xunPct{
	    width:3%;
	    margin-bottom:16px;
	    margin-left:30px;
	    padding-left:10px;
	}
	.help {
		display:block;
		font-size:.8em;
		color:#666;
		font-style:italic;
	}
}
