.rtgm-input-view {
	label {
		font-weight:bold;
		display:block;
		color:#333;
	}
	input.rtgm-input-title, input.rtgm-input-sa, input.rtgm-input-afe {
		width:100%;
		margin-bottom:16px;
	}
	input.rtgm-input-xun{
	    width:7%;
	    margin-bottom:16px;
	}
	input.rtgm-input-xunPct{
	    width:5%;
	    margin-bottom:16px;
	}
	.help {
		display:block;
		font-size:.8em;
		color:#666;
		font-style:italic;
	}
}
