.rtgm-input-view {
	label {
		font-weight:bold;
		display:block;
		color:#333;
	}
	label.rtgminput-xun{
		display:inline;
		width:20%;
	}
    label.rtgminput-xunPct{
    	display:inline;
		width:20%;
		margin-left:20px;
	}
	
	input.rtgm-input-title, input.rtgm-input-afe {
		width:100%;
		margin-bottom:16px;
	}
	input.rtgm-input-sa {
		width:100%;
		margin-bottom:16px;
	}
	input.rtgm-input-xun{
		margin-bottom:16px;	
	}
	input.rtgm-input-xunPct{
		margin-bottom:16px;
	}
	.help {
		display:block;
		font-size:.8em;
		color:#666;
		font-style:italic;
	}
}